<?xml version="1.0"?>
<!--
/**
 * Copyright © MagenX. All rights reserved.
 * SPDX-License-Identifier: MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magenx_platform" frontName="magenx_platform">
            <module name="Magenx_Platform" before="Magento_Backend"/>
        </route>
    </router>
</config>
